<div class="trip-info">
  <h2> Trip Details </h2>
  <p> <%= @trip.date %> </p>
  <% driver = Driver.find_by(id: @trip.driver_id) %>

  <%if driver.nil? %>
    <p class="deleted"> Driver: (DELETED) </p>
  <%else%>
    <p> Driver: <%= link_to driver.name, driver_path(driver), method: :get %>  </p>
  <% end %>


  <% passenger = Passenger.find_by(id: @trip.passenger_id) %>

  <%if passenger.nil? %>
    <p class="deleted"> Passenger: (DELETED) </p>
  <%else%>
    <p> Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id) %> </p>
  <%end %>
  <p> Rating:  <%= @trip.rating %> <p>
  <p>Cost: $<%=sprintf('%.2f', @trip.cost ) %></p>
</div>
