


<div class="form"> 
  <%= form_with model: @passenger do |f| %>
    <p>Please provide the following information about a passenger: </p>

    <%= f.label "Name" %>
    <%= f.text_field :name, placeholder: "#{name}" %>

    <%= f.label "Phone Number:" %>
    <%= f.text_field :phone_num, placeholder: "#{phone_number}"%>

    <%= f.submit "#{action_name} Passenger", class: "passenger-button" %>
  <% end %>

</div> 