<h2> <%= @passenger.name %> </h2>

<p> <%= @passenger.phone_num %> </p> 


<% @passenger.trips.each do |trip| %>
  <p>
  Date: <%= trip.date %> 
  Cost: <%= trip.cost %> 
  Driver: <%= trip.driver.name %> 
  Rating: <%= trip.rating %> 
  </p> 

<% end %>


<%= link_to "Edit", edit_passenger_path(@passenger), method: :get %> 
<%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete passenger, #{@passenger.name}?" }%> 