
<div class='show-info-passenger'> 
  <h2> <%= @passenger.name %> </h2>
  <p> Phone Number: <%= @passenger.phone_num %> </p> 
  <p> Cumulative Cost: $<%= @passenger.total_passenger_cost(@passenger.id) %><p> 

</div> 

<h3 class="show-header-passenger"> Passenger Trips </h3>

<table class="passenger-table">
    <tr>
      <th>Date</th>
      <th>Cost</th>
      <th>Driver </th>
      <th>Rating </th>
      <th>View Trip</th> 
      
    </tr>

  <% @passenger.trips.each do |trip| %>
    <tr>

      <td><%= trip.date%> </td>
      <td>$<%=sprintf('%.2f', trip.cost ) %></td>
      <% driver = Driver.find_by(id: trip.driver_id) %>

      <%if driver.nil? %>
        <td class="deleted"> (DELETED) </td>
      <%else%>
        <td><%= link_to driver.name, driver_path(driver), method: :get %>  </td>
      <% end %>
      
      <td> <%=trip.rating%></td>
      <td> <%= link_to trip.id, trip_path(trip.id) %> </td>
    </tr>
  <%end %>

</table>

<div class="show-buttons-passenger">

<button class="edit-delete-passenger">
<%= link_to "Edit", edit_passenger_path(@passenger), method: :get %> 
</button>

<button class="edit-delete-passenger">
<%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete passenger, #{@passenger.name}?" }%> 
</button>

<button class="edit-delete-passenger">
<%= link_to "Request Trip", passenger_trips_path(@passenger.id), method: :post %> 
</button>

</div> 



