<h2> <%= @passenger.name %> </h2>
<p> <%= @passenger.phone_num %> </p> 
<p> <%= @passenger.total_passenger_cost(@passenger.id) %><p> 

<%= link_to "Edit", edit_passenger_path(@passenger), method: :get %> 
<%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete passenger, #{@passenger.name}?" }%> 
<%= link_to "Request Trip", passenger_trips_path(@passenger.id), method: :post %> 

<h3> Passenger Trips </h3>

<table>
    <tr>
      <th>Date</th>
      <th>Cost</th>
      <th>Driver </th>
      <th>Rating </th>
      <th>View Trip</th> 
      
    </tr>

 <% @passenger.trips.each do |trip| %>
    <tr>

      <td><%= trip.date%> </td>
      <td>$<%=sprintf('%.2f', trip.cost ) %></td>
      <% driver = Driver.find_by(id: trip.driver_id) %>

      <%if driver.nil? %>
        <td> (DELETED) </td>
      <%else%>
        <td><%= link_to driver.name, driver_path(driver), method: :get %>  </td>
      <% end %>
      
      <td><%= trip.rating %></td>
      <td> <% link_to "Trip Details", trip_path(trip), method: :get  %> </td>
    </tr>
  <%end %>

</table>



