<%= form_with model: @driver do |f| %>
<div class="driver-form">
  <p>Please provide the following information about a driver: </p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>


  <%= f.submit "#{action_name} Driver", class: "driver-button" %>
</div>
<% end %>