<div class="driver-info">
  <h2><%= @driver.name %> </h2>
  <p>VIN: <%= @driver.vin %> </p>
  <p>Available: <%= @driver.available %> </p>

  <p>Total Earnings: <%= @driver.total_earnings(@driver.id) %> </p>
  <p>Average Rating: <%= @driver.average_rating(@driver.id) %> </p>
  <h4>Driver Trips: <h4>
</div>

<table class="driver-table">
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>


<% @driver.trips.each do |trip| %>

  <tr>
    <td> <%= link_to trip.id, trip_path(trip.id) %> </td>
    <td> <%= trip.date %> </td>
    <%if trip.passenger.nil? %>
        <td class="deleted"> (DELETED) </td>
    <%else%>
      <td> <%= link_to trip.passenger.name, passenger_path(trip.passenger_id) %> </td>
    <%end %>
    <td> <%= trip.rating %> </td>
    <td> $<%=sprintf('%.2f', trip.cost ) %></td>
  </tr>

<% end %>

</table>


<button class="edit-delete-driver">
  <%= link_to "Edit Driver", edit_driver_path(@driver.id) %>
</button>
<button class="edit-delete-driver">
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure you want to delete driver, #{@driver.name}?" } %> 
</button> 
