<!DOCTYPE html>
<html>
  <head>
    <title>RideShare Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="app-header"> <h1> RideShare Rails </h1> 

  <nav> 
    <ul>
      <li> <%= link_to "Trips", trips_path, class: "main-link" %> </li>
      <li> <%= link_to "Drivers", drivers_path, class: "main-link" %> </li>
      <li> <%= link_to "Passengers", passengers_path, class: "main-link" %> </li>
      <li> <%= link_to "New Driver", new_driver_path, class: "main-link" %> </li>
      <li> <%= link_to "New Passenger", new_passenger_path,class: "main-link" %> </li>
    </ul>
  </nav>
  </header> 


   
  <body>
    <%= yield %>
  </body>
  


</html>
